.button {
  flex-grow: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
  cursor: default;
  user-select: none;
  padding: 0 2%;
}

.button + .button {
  margin-left: 0.5vw;
}

.button-slant-left {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  padding-left: 5%;
}

.button-slant-right {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  padding-right: 5%;
}

.button:hover:not(.disabled) {
  cursor: pointer;
}

.button-icon {
  height: 100%;
  margin-right: 10px;
}