.data-row {
  height: 30px;
  background-color: gray;
  display: flex;
  align-items: center;
  border-style: solid;
  border-color: black;
  border-width: 0.5px 0;
}

.data-row.level-1 {
  margin-left: 30px;
  border-left-width: 0.5px;
}

.data-row.level-2 {
  margin-left: 60px;
  border-left-width: 0.5px;
}

.data-row > div {
  display: flex;
  margin: 0 10px;
  align-items: center;
  color: white;
}

.data-row > .data-row-name {
  flex-grow: 1;
  margin-left: 15px;
}

.data-row-bar {
  display: flex;
  width: 40%;
  min-width: 150px;
  height: 70%;
  background-color: #464646;
  border: 1px solid #000000;
}

.data-row-bar > .progress-bar {
  position: relative;
  height: 100%;
  background-color: white;
}

.data-row-bar.alert > .progress-bar {
  background-color: #AF111B;
}

.data-row-bar > .range {
  position: relative;
  width: 100%;
  height: 100%;
}

.data-row-bar > .range > .range-border {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 20%;
  z-index: 10;
  border-color: #AF111B;
  border-width: 0 1px;
  border-style: solid;
}

.data-row-bar.alert > .range > .range-border {
  border-color: white;
}

.data-row-bar > .range > .range-border.range-border-bottom {
  top: 80%;
}

.data-row-bar > .range > .range-value {
  position: absolute;
  -webkit-text-stroke: 0.1px white;
  -webkit-text-fill-color: #AF111B;
  top: 20%;
  height: 60%;
  width: auto;
  font-size: 10px;
  z-index: 20;
}

.data-row-bar.alert > .range > .range-value {
  -webkit-text-fill-color: white;
}

.data-row-bar > .range > .range-min {
  left: 10%;
  transform: translate(-50%, 0%);
}

.data-row-bar > .range > .range-max {
  right: 10%;
  transform: translate(50%, 0%);
}

.data-row-value {
  justify-content: center;
  width: 15%;
}
