.button-container {
  display: inline-block;
  font-size: 1.7em;
  text-align: center;
  overflow: hidden;
  width: calc(100%/3);
  height: 80%;
}

.button-container:hover {
  cursor: pointer;
}

.button-slant {
  padding: 5px;
}

.button-icon {
  height: 100%;
  padding-right: 10px;
}

.slant__left {
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  transform: skew(-25deg);
}

.slant__right {
  -webkit-transform: skew(25deg);
  -moz-transform: skew(25deg);
  -ms-transform: skew(25deg);
  transform: skew(25deg);
}

.slant-margin__left {
  margin-left: 5%;
  margin-right: -5%;
}

.slant-margin__right {
  margin-left: -5%;
  margin-right: 5%;
}
