.button-container {
  display: inline-block;
  text-align: center;
  font-size: 1.4vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.button-container-leftslant {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}

.button-container-rightslant {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.button-container:hover {
  cursor: pointer;
}

.button-icon {
  height: 100%;
  padding-right: 10px;
}

.button-caption {
  padding: 0 5%;
}

.button-container-leftslant .button-caption {
  padding-left: 15%;
}

.button-container-rightslant .button-caption {
  padding-right: 15%;
}
