.button {
  flex-grow: 1;
  display: inline-block;
  text-align: center;
  font-size: 1.4vw;
  display: flex;
  justify-content: center;
  cursor: default;
  user-select: none;
  transition: flex-grow 1000ms linear;
}

.button.hidden {
  flex-grow: 0.0001;
  margin: 0 !important;
}

.button + .button {
  margin-left: 0.5vw;
}

.button-slant-left {
  clip-path: polygon(30px 0, 100% 0, 100% 100%, 0% 100%);
}

.button-slant-right {
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 0% 100%);
}

.button-slant-both {
  clip-path: polygon(30px 0, calc(100% - 30px) 0, 100% 100%, 0% 100%);
}

.button:hover:not(.disabled) {
  cursor: pointer;
}

.button-icon {
  height: 100%;
}

.button-caption {
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.button-caption > span {
  margin-left: 10px;
}

.button-slant-left .button-caption {
  padding-left: 17%;
}

.button-slant-right .button-caption {
  padding-right: 17%;
}

.button-slant-both .button-caption {
  padding: 0 17%;
}
