.datapoint-container {
  margin-top: 0.2em;
  grid-column: 1/8;
  grid-row: 2/11;
  z-index: 2;
  background-color: #343434;
  color: #8f8f8f;
  opacity: 90%;
  height: 100%;
}

.datapoint-container > * {
  margin: 0.5em;
}

.invisible {
  opacity: 0%;
}

.close-button {
  overflow: hidden;
}

.close-button:hover {
  cursor: pointer;
}

.content {
  height: 90%;
  overflow: auto;
}

.datapoint {
  text-transform: capitalize;
  padding: 0.5em;
  font-size: 0.9em;
  width: 95%;
}

.datapoint:hover {
  cursor: pointer;
  background-color: #8f8f8f;
  color: #343434;
}

.datapoint--selected,
.datapoint--selected:hover {
  color: green;
}
