.header-root {
    grid-column: 1/4;
    grid-row: 1/1;
    background-color: #282c34;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    max-height: 8vh;
}

.hyped-logo {
    display: block;
    height: 100%;
}