.indicator {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 20%;
    border: 2px solid #343434;
}

.indicator.indicator-enabled {
    background-color: white;
}

.indicator.indicator-disabled {
    background-color: red;
}

.caption {
    font-size: 1.5em;
    margin-left: 20%;
    margin-right: 20%;
}