#container {
  margin: 0.5em;
  height: 45%;
  width: 45%;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
}

#container:only-child {
  height: 90%;
  width: 100%;
}

#container:nth-child(1):nth-last-child(2),
#container:nth-child(2):last-child {
  height: 90%;
  width: 45%;
}

#buttons > * {
  display: flex;
  outline-width: 1px;
  color: #8f8f8f;
  padding: 5px 0 5px 1px;
  margin: 5px 0 5px 1px;
}

#buttons > *:hover {
  cursor: pointer;
}

#close-button {
  border-radius: 50%;
}

#select-button {
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  font-size: 0.8vw;
  outline-style: solid;
  outline-color: #8f8f8f;
}

#select-button:hover {
  background-color: #8f8f8f;
  color: #343434;
}

#wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  /* style={{ position: "relative", width: "50%", height: "50%" }}  */
}
