.status-root {
    display: flex;
    background-color: inherit;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.module-status {
    background-color: #8F8F8F;
    border: 2px solid black;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    font-size: 1.7em;
    color: white;
    transform: rotate(-90deg);
    margin-left: -5%;
    margin-right: -8%;
}

.indicator-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 85%;
    width: 65%;
}