.status-root {
    display: flex;
    background-color: inherit;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.module-status {
    background-color: #8F8F8F;
    border: 1px solid black;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.7em;
    color: white;
    transform: rotate(-90deg);
}

.indicator-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 80%;
    width: 65%;
}