.tabs-root {
    grid-column: 2/4;
    grid-row: 2/6;
    background-color: #343434;
    margin-top: 2.5em;
    margin-bottom: 4.8em;
    display: grid;
}

.tabs-container {
    grid-row: 1/1;
    background-color: rgb(63, 63, 63);
}

.window-container {
    grid-row:2/11;
}