.terminal-root {
    color: white;
    border-top: 1%;
    height: 98%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.bottom-buttons {
    margin: 1%;
    width: 35%;
    height: 8%;
    display: flex;
    justify-content: space-between;
}

pre {
    background-color: black;
    color: rgb(0, 255, 0);
    display: block;
    height: 90%;
    border: 2px solid #1E1E1E;
    overflow: scroll;
    margin: 0;
    width: 100%
  }