.terminal-root {
    background-color: #1E1E1E;
    color: white;
    border-top: 1%;
    align-items: center;
    height: 97%;
}

pre {
    background-color: black;
    color: rgb(0, 255, 0);
    display: block;
    height: 100%;
    border: 2px solid #1E1E1E;
    overflow: scroll;
    margin: 0;
  }