.gui-wrapper {
  display: grid;
  grid-auto-columns: calc(100%/12);
  grid-auto-rows: calc(100%/12);
  height: 94vh;
  padding: 1.5% 2%;
}

/* Colors */

.bg-white {
  background-color: white;
  color: black;
}

.bg-transparent {
  background-color: transparent;
  color: white;
}

.bg-blue {
  background-color: #1098AD;
  color: white;
}

/* Colors gradient*/

.bg-white-gradient {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 55%, rgba(200,200,200,1) 100%);
  color: black;
}

.bg-white-gradient.button:hover {
  background: rgb(200,200,200);
}

.bg-blue-gradient {
  background: rgb(16,152,173);
  background: radial-gradient(circle, rgba(16,152,173,1) 55%, rgba(0,112,133,1) 100%);
  color: white;
}

.bg-blue-gradient.button:hover {
  background: rgb(0,112,133);
}

.bg-blue-gradient.button.disabled {
  background: rgb(0,112,133);
}