body {
  margin: 0;
  background-color: black;
}

.gui-wrapper {
  display: grid;
  grid-auto-columns: calc(100%/12);
  grid-auto-rows: calc(100%/12);
  height: 94vh;
  padding: 1.5% 2%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  grid-row: 2 / 2;
  grid-column: 1 / 6;
  margin-right: 0.8em;
  vertical-align: sub;
}





