.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

.background {
  padding-top: 1px;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.gui-wrapper {
  display: grid;
  height: 100%;
  background-color: black;
  border-top: 1%;
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.modular-container {
  display: flex;
  flex-direction: column;
  grid-row: 1/6;
  grid-column: 1 / 1;
  margin-bottom: 5em;
  margin-top: 15vh;
  margin-right: 5em;
}

.main-buttons {
  width:auto;
}



