body {
  margin: 0;
  background-color: black;
}

.gui-wrapper {
  display: grid;
  grid-auto-columns: calc(100%/12);
  grid-auto-rows: calc(100%/12);
  height: 94vh;
  padding: 1.5% 2%;
}

.buttons {
  display: flex;
  flex-direction: column;
  grid-row: 2/3;
  grid-column: 1 / 6;
  margin-bottom: 5em;
  margin-right: 1em;
  margin-top: 3em;
}

.main-buttons {
  width: auto;
}

.gauge-container {
  grid-row: 2/6;
  grid-column: 10/13;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  margin-top: 6%;
}
